{% extends 'base.html' %}
{% block content %}
    <h1>Preguntas</h1>
    {% load my_filters %}
    <div class="d-flex flex-column">
        {% for question in object_list %}
            <div class="card w-100 my-2 p-3">
                <div class="d-flex flex-row">
                    <div class="col-10">
                        {% if user.is_authenticated and user.id == question.author.id %}
                            <a href="{% url 'survey:question-edit' pk=question.id %}"><i class="far fa-question-circle" title="Editar: {{ question.description }}"></i></a>
                        {% else %}
                            <i class="far fa-question-circle" title="{{ question.description }}"></i>
                        {% endif %}
                        <span class="fw-bold">{{ question.title }}</span>
                    </div>
                    <div class="col-2">
                        <span class="fw-lighter">Autor:</span> {{ question.author }}
                    </div>
                </div>
                <br>
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-column col-4">
                        <u class="fw-lighter mb-1">Respuesta</u>
                        <div>
                            {% if user.is_authenticated %}
                                {% for val in 6|custom_range %}
                                    <a class="mx-1 answer auth {% if question|get_answer_user:user.id|add:"0" >= val %}fas{% else %}fal{% endif %} fa-star text-decoration-none"
                                        data-question="{{ question.pk }}" data-boolean="{{ question|get_answer_user:user.id|add:"0"|is_gte:val }}"
                                        data-element="answer"
                                    data-value="{{ val }}" data-user="{{ user.id }}"></a>
                                {% endfor %}
                            {% else %}
                                {% for val in 6|custom_range %}
                                    <a class="mx-1 answer {% if question|get_answer_user:user.id|add:"0" >= val %}fas{% else %}fal{% endif %} fa-star text-decoration-none"
                                    data-question="{{ question.pk }}" data-boolean="{{ question|get_answer_user:user.id|add:"0"|is_gte:val }}"
                                    data-element="answer"
                                    data-value="{{ val }}" data-user="{{ user.id }}"></a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-4 d-flex flex-column ">
                        <u class="fw-lighter mb-1">Evalúa la pregunta</u>
                        <div>
                            {% if user.is_authenticated %}
                                <a class="mx-1 like auth {% if question|get_like_user:user.id %}fas{% else %}fal{% endif %} fa-thumbs-up text-decoration-none"
                                data-question="{{ question.pk }}" data-value="like" data-user="{{ user.id }}" data-boolean="{{ question|get_like_user:user.id }}"></a>
                                <a class="mx-1 like auth {% if question|get_dislike_user:user.id %}fas{% else %}fal{% endif %} fa-thumbs-up fa-flip-both text-decoration-none"
                                data-question="{{ question.pk }}" data-value="dislike" data-user="{{ user.id }}" data-boolean="{{ question|get_dislike_user:user.id}}"></a>
                            {% else %}
                                <a class="mx-1 like {% if question|get_like_user:user.id %}fas{% else %}fal{% endif %} fa-thumbs-up text-decoration-none"
                                data-question="{{ question.pk }}" data-value="like" data-user="{{ user.id }}" data-boolean="{{ question|get_like_user:user.id }}"></a>
                                <a class="mx-1 like {% if question|get_dislike_user:user.id %}fas{% else %}fal{% endif %} fa-thumbs-up fa-flip-both text-decoration-none"
                                data-question="{{ question.pk }}" data-value="dislike" data-user="{{ user.id }}" data-boolean="{{ question|get_dislike_user:user.id}}"></a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-2">
                        <u class="fw-lighter mb-1">Ranking:</u>
                        <div>
                            <span id="ranking-{{ question.pk }}">{{ question.ranking }}</span> pts.
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div>No hay preguntas.</div>
        {% endfor %}
    </div>
{% endblock %}

{% block js %}
    <script>
        $('.like.auth').click(function(){
            $.ajax({
                     type: "POST",
                     url: "{% url 'survey:question-like' %}",
                     data: {
                        'question_pk': this.dataset.question,
                        'user_pk': this.dataset.user,
                        'value': this.dataset.value,
                        'boolean': this.dataset.boolean,
                        'oper':'like_submit',
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                     dataType: "json",
                     success: function(response) {
                        selector = document.querySelectorAll('a[data-question="' + response.question_pk + '"][data-value="'+ response.value + '"]')[0];
                        otherSelector = response.value === 'like' ?
                            document.querySelectorAll('a[data-question="' + response.question_pk + '"][data-value="'+ 'dislike' + '"]')[0] :
                            otherSelector = document.querySelectorAll('a[data-question="' + response.question_pk + '"][data-value="'+ 'like' + '"]')[0];
                        delete selector.dataset.boolean
                        delete otherSelector.dataset.boolean
                        otherSelector.dataset.boolean = 'False';
                        if (response.boolean === 'True') {
                            selector.dataset.boolean = 'False';
                        }
                        else selector.dataset.boolean = 'True';
                        $(selector).toggleClass('fas');
                        $(selector).toggleClass('fal');
                        $(otherSelector).removeClass('fas');
                        $(otherSelector).removeClass('fal');
                        $(otherSelector).addClass('fal');
                        document.getElementById(`ranking-${response.question_pk}`).innerText = response.ranking;
                      }
                });
          })

    </script>

{% endblock %}
